.navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.navbar-nav {
  font-size: 1.8rem;  
  margin-left: 30px;
}

.logout {
  background: none;
  border: 1px solid white;
  margin-left: 30px;
  color: white;
}